html, body {
  height: 100%;
  margin: 0;
  color: #333;
  overflow: hidden;
  overflow-y: auto;
}

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

/* webkit scrollbar style */
::-webkit-scrollbar{
  background:tranparent
}
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}
::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 6px;
}